body {
	background: #ddd;
	font-family: 'Lato';
}
.btn-default:hover, .btn-default:focus {
	background: #005daa;
	color: #fff;
}
.is-checked {
	background: #005daa;
	color: #fff;
}
.main {
	margin: 30px 0 0 0;
}
.event {
	margin-bottom: 10px;
}
.event h3 {
	margin: 0 0 5px 0;
}
.event img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-height: 175px;
}
.event .details {
	padding: 15px;
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.event .time {
	color: #aaa;
}
.form-signin.narrow  {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	margin-bottom: -1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .bg-danger {
	width: 100%;
	padding: 10px;
	display: block;
	color: #c7254e;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.form-signin input[type="password"] {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.form-signin input[type="submit"] {
	margin-top: 10px;
}
.note-editable {
	background: #fff;
}
.btn-toolbar {
	margin-left: 0px;
}
.glyphicon {
	color: #898989;
}
.controls {
	height: 15px;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.event img {
		min-height: initial;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
